
  <div class="add-photo-panel">
    <h1>Login Form</h1>  
    <form [formGroup]="formDetails" (ngSubmit)='loginSubmit()'>
        <div class="photo-form">
            <mat-form-field>
              <input  floatlabel="true" class="username" type='text' matInput placeholder="Username" [formControl]='username'>  
            </mat-form-field>

            <mat-form-field >
             <input  floatlabel="true" class="password" type='password' matInput placeholder="Password" [formControl]='password'>  
            </mat-form-field>
            
            <button mat-fab color="primary" type="submit" class="add-button">Submit</button>
        </div>
    </form>
  </div>

<label class='error-message'>{{ errMessage }}</label>