<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<!-- Expansion panel to add new notes -->
<!-- To add notes -->
<mat-expansion-panel class="add-note-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>Take a note</mat-panel-title>
        <mat-panel-description>
            Your secrets are yours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="form-expand">
        <mat-form-field>
            <input matInput placeholder="title" name="title" [(ngModel)]="note.title">
        </mat-form-field>
        
        <mat-form-field>
            <textarea matInput placeholder="text" name="text" [(ngModel)]="note.text"></textarea>
        </mat-form-field>

        <mat-select class="select" name="status" placeholder="Select state" [(ngModel)]="note.state">
            <mat-option *ngFor="let state of states" [value]="state">
             <ul>
                 <li> {{ state }}</li>
             </ul>
            </mat-option>
        </mat-select>


        <button mat-fab color="primary" class="add-button" (click)='addNote()'>Done</button>
        
    </div>
</mat-expansion-panel>