.form-expand{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.add-button{
    margin-top: 2em;
    margin-left: auto;
}

.add-note-panel{
    width: 50vw;
    margin: 10vh auto;

}

.error-message{
    color: black;
}

.select {
    margin-top: 2em;
}